dash==1.13.4
networkx==2.4
matplotlib==3.3.0
numpy==1.19.1
dash_core_components==1.10.1
bokeh==2.1.1
dash_table==4.8.1
tqdm==4.48.0
requests==2.24.0
pandas==1.0.5
dash_html_components==1.0.3
dash_cytoscape==0.2.0
PubChemPy==1.0.4
dash_bootstrap_components==0.10.3
plotly==4.9.0
beautifulsoup4==4.9.1
rdkit==2009.Q1-1
scikit_learn==0.23.2
