dash_core_components==1.10.1
dash_bootstrap_components==0.10.3
pandas==1.0.5
networkx==2.4
plotly==4.9.0
PubChemPy==1.0.4
requests==2.24.0
dash==1.13.4
matplotlib==3.3.0
dash_cytoscape==0.2.0
dash_table==4.8.1
tqdm==4.48.0
bokeh==2.1.1
numpy==1.19.1
dash_html_components==1.0.3
seaborn==0.10.1
beautifulsoup4==4.9.1
pages==0.1.dev0
rdkit==2009.Q1-1
scikit_learn==0.23.2
