numpy==1.19.4
dash_cytoscape==0.2.0
PubChemPy==1.0.4
scipy==1.5.3
matplotlib==3.3.3
networkx==2.5
plotly==4.9.0
dash_bootstrap_components==0.10.3
requests==2.25.1
chembl_webresource_client==0.10.2
dash_html_components==1.0.3
tqdm==4.54.1
dash_table==4.8.1
pandas==1.1.5
dash==1.13.4
dash_core_components==1.10.1
beautifulsoup4==4.9.3
#rdkit==2009.Q1-1 #commented because can give problems with "pip install -r requirements.txt"... it is better to install it manually
scikit_learn==0.24.0
#pygraphviz==1.6 # also pygraphviz has problems with pip on windows, it requires Microsoft Visual C++ 14.0
