/* fancy home cards */

.fancy-hover-bg{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #158cba;/*#16161d*/
  opacity: 85%;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .35s ease;
  border: 0px;
  border-radius: 2rem;
  box-shadow:0rem 0rem 0.4rem #158cba;
}
.home-card:hover .fancy-hover-bg{
  bottom: 0;
  height: 100%;
}
.fancy-hover-title{
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  width:75%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.fancy-hover-text{
  color: white;
  position: absolute;
  top: 65%;
  left: 50%;
  width: 75%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* zoom on hover contact-page */
.contact-page:hover{
  transform: scale(1.002);
  transition: .2s ease;
}
